.wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  }
  
.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}